certifi
cffi
chardet
clarifai
click
DateTime
decorator
fake-useragent
filelock
Flask
flask-ngrok
Flask-SQLAlchemy
flask-login
future
gunicorn
ipykernel
ipython
itsdangerous
ipython-genutils
isort
itsdangerous
jedi
Jinja2
jsonschema
mysql-connector
pefile
pyOpenSSL
pyparsing
SQLAlchemy
threadpoolctl
Werkzeug
psycopg2
psycopg2-pool 
firebase-admin
fsspec
pandas
